*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #88bba6;
    font-family: poppins, sans-serif;
}

#header{
    display: flex;
    align-items: center;
}

#border{
    border:none;
    background-color: white;
    width: 80%;
    border-radius: 25px;
    height: 90vh;
    overflow-y: scroll;
    padding: 30px;
}

#container{
    display: flex;
    margin: 5vh 3vw;
    justify-content: space-between;
}

#sideNav {
    margin-left: 50px;
}

#sideNav ul {
    list-style-type: none;
    padding: 0;
}

#sideNav ul li {
    margin-bottom: 20px;
}

#sideNav ul li button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;   
}

#sideNav ul li button:hover {
    background-color: #427361;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    padding: 10px;
    transition: 10ms;
}

#sideNav ul li button svg {
    margin-right: 10px;
    vertical-align: middle;
}

.label {
    border: 1px solid;
    background-color: white;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.label:hover {
    background-color: #bdf1de;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 10ms;
}

#form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#form select {
    margin-top: 5px;
}

#form strong {
    font-size: 15px;
}

#form option {
    font-size: 15px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
   border: 1px solid #bdf1de;
    border-radius: 10px;
    
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #bdf1de;
}

table th {
    background-color: #bdf1de;
    font-weight: bold;
}

table tr button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
}

.button-b {
    background-color: #bdf1de;
    border: none; 
    border-radius: 5px;
    padding: 0%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    max-width: fit-content;
    gap: 10px;
}

table input{
    border:1px solid #bdf1de;
    border-radius: 5px;
    padding: 5px;
}

#saveDraftBtn  {
    background-color: transparent;
    border: 1px solid; 
    border-radius: 15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#publishResultsBtn{
    background-color: #FF8C82;
    border: none; 
    border-radius: 15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}