@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playwrite-nz-basic-400 {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #88bba6;

}

.dashboard_container{
    display: flex;
    margin: 5vh 3vw;
}

.dashboard_container .sideNav {
    width: 20%;

}

.dashboard_container .main_area{
    width: 80%;
    background-color: white;
    border-radius: 25px;
    height: 90vh;
    overflow-y: scroll;
}


.notfication{
    position: relative;
    width: fit-content;
}

.notfication .pill {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#container a {
    text-decoration: none;
    color: inherit;
}